<html lang="en">
<head>
	<title>Table of users</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
    <!--<script src="/javascript/script.js" type="text/javascript"></script>-->
</head>
<body>
<p>Welcome to Table of users</p>
{{{body}}}
</body>
</html>
