<html lang="en">
<head>
	<title>Table of users</title>
	<link rel="stylesheet" href="../stylesheets/style.css">
    <!--<script src="../javascripts/script.js" type="text/javascript"></script>-->
</head>
<body>
    <h1 class="title">Welcome to Humble CRUD "Table of users"</h1>
    <div class="menu__wrapper">
        <a href="/add-user" class="menu__button">Add user</a>
        <a href="/users" class="menu__button">Table of users</a>
    </div>
    {{{body}}}
</body>
</html>
