<!--{{#table__row}}-->
    <tr class="table__row">
        <td class="table__cell">{{name}}</td>
        <td class="table__cell">{{surname}}</td>
        <td class="table__cell">{{age}}</td>
        <td class="table__cell">
            <form class="table__form" method="link" action="index.html">
                <input class="form__button" type="button" value="Edit">
                <input class="form__button" type="button" value="Delete">
            </form>
        </td>
    </tr>
<!--{{/table__row}}-->