* {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;

}

table,
thead,
tbody,
tfoot,
tr,
th,
td {
	height: auto;
	text-align: left;
	font-weight: inherit;
	-webkit-border-horizontal-spacing: 0;
	-webkit-border-vertical-spacing: 0;
	display: block;
	vertical-align: inherit;
	padding: 0;
	margin: 0;
	width: auto;
	border: none;
	border-collapse: inherit;
	border-spacing: 0;
	border-color: inherit;
	outline: 0;

}

.user-form__wrapper {
	width: 23%;
	margin: 2% auto;
	border: 1px solid #000;

}

.user-form {

}

.user-form__input {
	margin: 2%;
	
}

.table__wrapper {
	background: #E0E0E0;
	margin: 5% auto;
	width: 80%;

}

.table {
	width: 100%;
	border: 1px solid #000;

}



.table__row {
	border-top: 1px solid #000;

}

.table__row:hover {
	background: burlywood;
}

.table__row--header {
	background: cadetblue;
	font-weight: 600;

}

.table__row--header:hover {
	background: cadetblue;
}


.table__cell {
	display: inline-block;
	width: 22%;
	padding: 5px;;

}


.table__header {

}

.table__form {
	display: inline-block;

}


.form__button {
	cursor: pointer;
}

